PORT=4000
MONGO_URI=mongodb+srv://jossamador10:joss1005@georef26711.dll0fsf.mongodb.net/geolluvias?retryWrites=true&w=majority
JWT_SECRET=Q9rYj0Kzv0m1l8GQ2t1a7wP4sF6xHfVbU8jE3cT8mR1yLkJpZ2nA6sW0qX4uB7z
CLIENT_ORIGIN=http://localhost:5173
