PORT=4000
MONGO_URI=mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/<nombre-db>?retryWrites=true&w=majority
JWT_SECRET=<clave-larga-aleatoria-minimo-32-caracteres>
CLIENT_ORIGIN=http://localhost:5173
